import env

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'mysecretkey'

if env.TEST_ENV:
    DATABASE_USER = 'readuser'
    DATABASE_PASSWORD = 'password'
    DATABASE_HOST = 'host'
    DATABASE_PORT = 'port'
else:
    DATABASE_USER = 'readuser'
    DATABASE_PASSWORD = 'password'
    DATABASE_HOST = 'hostname'
    DATABASE_PORT = 'port'
    
TARK_DATABASE = 'tark'
