<html>
<h1>TArK demo endpoints</h1>
<ul>
<li><a href="/tark/genome/">Genomes</a></li>
<li><a href="/tark/assembly/human/">Human assemblies</a></li>
<li><a href="/tark/lookup/gene/?id=ENSG00000198001">ENSG00000198001 gene records</a></li>
<li><a href="/tark/lookup/gene/?id=ENSG00000198001&expand=1">ENSG00000198001 gene records, expanded</a></li>
<li><a href="/tark/location/human/transcript/?start=43758935&end=43758945&region=12">All transcripts, 12:43758935-43758945</a></li>
<li><a href="/tark/lookup/name/transcript?name=IRAK4">Transcripts by name (IRAK4)</a></li>
<li><a href="/tark/lookup/hgvs/human/4:g.130032948A>C/">HGVS, 4:g.130032948A>C</a></li>
</ul>
</html>
